@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-height: 100vh;
  --header-h: 56px;
  --footer-h: 46px;
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none; /* blokuje pull-to-refresh i bounce */
  overflow: hidden; /* 🔒 najważniejsze — blokuje scroll strony */
  overflow-x: hidden;
}

.fixed-layout {
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}